node-red-data/flows.json
[{"id":"22138cf9.0f6ea4","type":"tab","label":"Bewässerungs Dashboard","disabled":false,"info":""},{"id":"a4dd2af2.107ea","type":"tab","label":"Wetter Dashboard","disabled":false,"info":""},{"id":"d80ccc5a.86ac18","type":"tab","label":"Bodenfeuchte","disabled":false,"info":""},{"id":"74fbab60.dfa7f4","type":"tab","label":"Bewässerungsplaner","disabled":false,"info":""},{"id":"e6fe57aa.715438","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10b06682.237989","type":"subflow","name":"irrigationButton","info":"","in":[{"x":20,"y":180,"wires":[{"id":"aea9896c.2df268"}]}],"out":[{"x":600,"y":220,"wires":[{"id":"570f8d17.0c40ec","port":0}]}]},{"id":"7022f926.7821e8","type":"subflow","name":"valve messages","info":"","in":[],"out":[{"x":500,"y":100,"wires":[{"id":"d1b4996e.3ad67","port":0}]},{"x":500,"y":140,"wires":[{"id":"d1b4996e.3ad67","port":1}]},{"x":500,"y":180,"wires":[{"id":"d1b4996e.3ad67","port":2}]},{"x":500,"y":220,"wires":[{"id":"d1b4996e.3ad67","port":3}]}]},{"id":"19f3b9fc.9abb7e","type":"subflow","name":"Watchdog Alert Button ","info":"","in":[{"x":820,"y":640,"wires":[{"id":"652517f.9417f68"}]}],"out":[]},{"id":"9b25e00.e5f662","type":"alexa-home-conf","z":"","username":"szymanski"},{"id":"6ed2655b.439084","type":"alexa-skill","z":"","skillname":"","intents":"[\n  {\n    \"name\": \"SampleIntent\",\n    \"options\": {\n      \"slots\": {\n        \"NAME\": \"LITERAL\",\n        \"AGE\": \"NUMBER\"\n      },\n      \"utterances\": [\n        \"my {name is|name's} {names|NAME} and {I am|I'm} {1-100|AGE}{ years old|}\"\n      ]\n    }\n  }\n]","clientId":"needsADefault"},{"id":"ebda5e35.a2f2f","type":"mqtt-broker","z":"","name":"","broker":"raspi","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"I am using rabbitMQ on raspi","birthQos":"0","birthPayload":""},{"id":"cd235260.6f8188","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094ce","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"iGrowFlora","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4fa87fca.820ad8","type":"ui_tab","z":"","name":"Bewässerung","icon":"dashboard","order":2},{"id":"b481fc75.7037f8","type":"ui_group","z":"","name":"Bewässerungsplan","tab":"4fa87fca.820ad8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4d2b7c71.10bd84","type":"ui_group","z":"","name":"Bewässerung","tab":"4fa87fca.820ad8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a53d87d6.82897","type":"ui_tab","z":"","name":"Wetter","icon":"dashboard","order":1},{"id":"9b208f47.9bb418","type":"ui_group","z":"","name":"Bodenfeuchte","tab":"dafea436.333598","order":2,"disp":true,"width":"6","collapse":false},{"id":"dafea436.333598","type":"ui_tab","z":"","name":"Bodenfeuchte","icon":"dashboard","order":3},{"id":"986e265e.dbc6e","type":"ui_group","z":"","name":"Wind","tab":"a53d87d6.82897","order":2,"disp":true,"width":"6","collapse":false},{"id":"449b9af2.fbf114","type":"ui_group","z":"","name":"MQTT Msg","tab":"a25c9314.962d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"510c50ec.b44ba8","type":"ui_group","z":"","name":"Graphen","tab":"a53d87d6.82897","order":3,"disp":true,"width":"6","collapse":true},{"id":"b6e6ae7a.f32e2","type":"ui_group","z":"","name":"Sensorstatus","tab":"dafea436.333598","disp":true,"width":"6","collapse":false},{"id":"a25c9314.962d8","type":"ui_tab","z":"","name":"Debug","icon":"dashboard"},{"id":"32e56d0.d701114","type":"ui_group","z":"","name":"Vorschau","tab":"a53d87d6.82897","order":4,"disp":true,"width":"6","collapse":true},{"id":"fff911b1.e5b74","type":"ui_group","z":"","name":"Temperatur und Luftfeuchte","tab":"a53d87d6.82897","order":1,"disp":true,"width":"6","collapse":false},{"id":"e34320bb.4dfa7","type":"inject","z":"e6fe57aa.715438","name":"volume control","topic":"controller/volume","payload":"{\"valve\":\"0\",\"volume\":\"100\",\"interval\":\"2000\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["3847fde9.da809a"]]},{"id":"3847fde9.da809a","type":"mqtt out","z":"e6fe57aa.715438","name":"","topic":"","qos":"","retain":"","broker":"ebda5e35.a2f2f","x":430,"y":120,"wires":[]},{"id":"36eb61a.06d0e1e","type":"alexa-local","z":"e6fe57aa.715438","devicename":"gießkanne","inputtrigger":false,"x":130,"y":160,"wires":[["d29f6107.30c3f"]]},{"id":"24af46bf.3a9972","type":"mqtt out","z":"e6fe57aa.715438","name":"","topic":"controller/volume","qos":"","retain":"","broker":"ebda5e35.a2f2f","x":470,"y":160,"wires":[]},{"id":"d29f6107.30c3f","type":"template","z":"e6fe57aa.715438","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"valve\":\"2\",\"volume\":\"500\"}","output":"str","x":290,"y":160,"wires":[["24af46bf.3a9972"]]},{"id":"3818d9c.652e7a6","type":"alexa-say","z":"e6fe57aa.715438","name":"","text":"Hallo Marc ","x":330,"y":240,"wires":[["4a3785d5.50bb14"]]},{"id":"7773ee94.57533","type":"alexa-home","z":"e6fe57aa.715438","conf":"9b25e00.e5f662","device":"22483","acknoledge":true,"name":"Esstischlampe","topic":"","x":160,"y":240,"wires":[["3818d9c.652e7a6"]]},{"id":"4a3785d5.50bb14","type":"alexa-home-resp","z":"e6fe57aa.715438","x":520,"y":240,"wires":[]},{"id":"9045d492.14e638","type":"mqtt out","z":"22138cf9.0f6ea4","name":"","topic":"controller/volume","qos":"","retain":"","broker":"ebda5e35.a2f2f","x":890,"y":300,"wires":[]},{"id":"f8d199f1.71833","type":"ui_button","z":"22138cf9.0f6ea4","name":"StarteBewässerung","group":"4d2b7c71.10bd84","order":2,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"opacity","payload":"true","payloadType":"bool","topic":"bewässern","x":450,"y":120,"wires":[["efa10294.42a128"]]},{"id":"efa10294.42a128","type":"function","z":"22138cf9.0f6ea4","name":"volume settings","func":"var volume = context.get('volume');\nvar bewaessern = context.get('bewaessern') || false;\nvar V0 = context.get('V0') || false;\nvar V1 = context.get('V1') || false;\nvar V2 = context.get('V2') || false;\nvar V3 = context.get('V3') || false;\n\nif (msg.topic === 'volume') {\n    volume = msg.payload;\n    context.set('volume', volume);\n} else if (msg.topic === 'bewässern') {\n    bewaessern = msg.payload;\n    context.set('bewaessern', bewaessern);\n} else if (msg.topic === 'V0') {\n    V0 = msg.payload;\n    context.set('V0', V0);\n} else if (msg.topic === 'V1') {\n    V1 = msg.payload;\n    context.set('V1', V1);\n} else if (msg.topic === 'V2') {\n    V2 = msg.payload;\n    context.set('V2', V2);\n} else if (msg.topic === 'V3') {\n    V3 = msg.payload;\n    context.set('V3', V3);\n}\n\nif (bewaessern && bewaessern > 0) {\n    var msg0 = { payload: \n        {   \n            valve : 0,\n            volume : 0,\n            interval : 0\n        }\n    };\n    var msg1 = { payload: \n        {   \n            valve : 1,\n            volume : 0,\n            interval : 0\n        }\n    };\n    var msg2 = { payload: \n        {   \n            valve : 2,\n            volume : 0,\n            interval : 0\n        }\n    };\n    var msg3 = { payload: \n        {   \n            valve : 3,\n            volume : 0,\n            interval : 0\n        }\n    };\n    \n    msg0.payload.volume = volume;\n    msg1.payload.volume = volume;\n    msg2.payload.volume = volume;\n    msg3.payload.volume = volume;\n\n    if (V0) {\n        msg0.payload.valve = 0;\n    } else msg0 = null;\n    if (V1) {\n        msg1.payload.valve = 1;\n    } else msg1 = null;\n    if (V2) {\n        msg2.payload.valve = 2;\n    } else msg2 = null;\n    if (V3) {\n        msg3.payload.valve = 3;\n    } else msg3 = null;\n\n    context.set('bewaessern', false);\n    return [msg0, msg1, msg2, msg3];\n} else {\n  return null\n}\n\n\n\n","outputs":4,"noerr":0,"x":680,"y":300,"wires":[["9045d492.14e638"],["9045d492.14e638"],["9045d492.14e638"],["9045d492.14e638"]],"outputLabels":["valve 0","valve 1","valve 2","valve 3"]},{"id":"5d33adaa.c70cbc","type":"ui_numeric","z":"22138cf9.0f6ea4","name":"MengenEinstellung","label":"Menge {{value}} ml","group":"4d2b7c71.10bd84","order":4,"width":"6","height":"1","passthru":true,"topic":"volume","format":"{{value}}","min":0,"max":"10000","step":"10","x":450,"y":60,"wires":[["efa10294.42a128","6111d6cc.4cb988"]]},{"id":"c9825304.edc268","type":"inject","z":"22138cf9.0f6ea4","name":"","topic":"volume","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":60,"wires":[["6111d6cc.4cb988","efa10294.42a128"]]},{"id":"4270c9d3.04c088","type":"mqtt in","z":"7022f926.7821e8","name":"valve/closed","topic":"valve/closed","qos":"1","broker":"ebda5e35.a2f2f","x":70,"y":120,"wires":[["23fa74c.472500c"]]},{"id":"508da8bd.0b8678","type":"mqtt in","z":"7022f926.7821e8","name":"valve/opened","topic":"valve/opened","qos":"1","broker":"ebda5e35.a2f2f","x":70,"y":180,"wires":[["23fa74c.472500c"]]},{"id":"6111d6cc.4cb988","type":"ui_slider","z":"22138cf9.0f6ea4","name":"MengenEinstellung","label":"","group":"4d2b7c71.10bd84","order":3,"width":"6","height":"1","passthru":true,"topic":"volume","min":"100","max":"10000","step":"100","x":250,"y":60,"wires":[["5d33adaa.c70cbc"]]},{"id":"a7f8d7d.a7a4f28","type":"ui_button","z":"10b06682.237989","name":"","group":"4d2b7c71.10bd84","order":1,"width":"1","height":"1","passthru":false,"label":"{{flow.name}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"local_florist","payload":"true","payloadType":"bool","topic":"","x":470,"y":280,"wires":[["eef62850.048a8"]]},{"id":"eef62850.048a8","type":"function","z":"10b06682.237989","name":"flip","func":"var flip = context.get('flip');\n\nflip = !flip;\n\nmsg.payload = flip\n\ncontext.set('flip',flip);\n\nmsg.background = null;\nif (flip) {\n    msg.background = '#80ff00';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["e8288632.bc5f18","570f8d17.0c40ec"]]},{"id":"e8288632.bc5f18","type":"function","z":"10b06682.237989","name":"setColors","func":"var back = context.get('back') || null;\nvar color = context.get('color') || null;\n\nif (!(msg.topic === 'valve/opened') \n&& !(msg.topic === 'valve/closed')) {\n    back = msg.background;\n    context.set('back',back);\n}\nif (msg.topic === 'valve/opened') {\n    color = '#006600';\n    context.set('color',color);\n}\nif (msg.topic === 'valve/closed') {\n    color = null;\n    context.set('color',color);\n}\n\n\nmsg.background = back;\nmsg.color = color;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["a7f8d7d.a7a4f28"]]},{"id":"1ba25e67.10d07a","type":"subflow:10b06682.237989","z":"22138cf9.0f6ea4","name":"Ventil 0","x":420,"y":220,"wires":[["efa10294.42a128"]]},{"id":"d1b4996e.3ad67","type":"switch","z":"7022f926.7821e8","name":"","property":"payload.valve","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":160,"wires":[[],[],[],[]]},{"id":"23fa74c.472500c","type":"json","z":"7022f926.7821e8","name":"","property":"payload","action":"","pretty":false,"x":230,"y":160,"wires":[["d1b4996e.3ad67"]]},{"id":"570f8d17.0c40ec","type":"function","z":"10b06682.237989","name":"overwriteTopic","func":"\nif (msg.topic === 'topic') {\n    context.set('topic', msg.payload)\n    msg.topic = msg.payload;\n    return null;\n} else {\n    msg.topic = context.get('topic');\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[[]]},{"id":"28a531f6.9486f6","type":"inject","z":"22138cf9.0f6ea4","name":"V0","topic":"topic","payload":"V0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":240,"wires":[["1ba25e67.10d07a"]]},{"id":"c7c857b.eae1128","type":"subflow:7022f926.7821e8","z":"22138cf9.0f6ea4","name":"","x":140,"y":440,"wires":[["1ba25e67.10d07a"],["5b746ae.9d0ea14"],["cc47f617.9ffe9"],["3b5e0789.b74d1"]],"icon":"node-red/bridge.png"},{"id":"5b746ae.9d0ea14","type":"subflow:10b06682.237989","z":"22138cf9.0f6ea4","name":"Ventil 1","x":420,"y":300,"wires":[["efa10294.42a128"]]},{"id":"f971dcd2.e045f","type":"inject","z":"22138cf9.0f6ea4","name":"V1","topic":"topic","payload":"V1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":280,"wires":[["5b746ae.9d0ea14"]]},{"id":"cc47f617.9ffe9","type":"subflow:10b06682.237989","z":"22138cf9.0f6ea4","name":"Ventil 2","x":420,"y":380,"wires":[["efa10294.42a128"]]},{"id":"fd639f76.334d6","type":"inject","z":"22138cf9.0f6ea4","name":"V2","topic":"topic","payload":"V2","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":320,"wires":[["cc47f617.9ffe9"]]},{"id":"3b5e0789.b74d1","type":"subflow:10b06682.237989","z":"22138cf9.0f6ea4","name":"Ventil 3","x":420,"y":460,"wires":[["efa10294.42a128"]]},{"id":"fbfe954e.29e6f8","type":"inject","z":"22138cf9.0f6ea4","name":"V3","topic":"topic","payload":"V3","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":360,"wires":[["3b5e0789.b74d1"]]},{"id":"aea9896c.2df268","type":"switch","z":"10b06682.237989","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"str"},{"t":"neq","v":"topic","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":180,"wires":[["570f8d17.0c40ec"],["e8288632.bc5f18"]]},{"id":"ecb72fe8.4b0bd8","type":"openweathermap in","z":"a4dd2af2.107ea","name":"Wetter Friedrichstraße","wtype":"current","lon":"8.502569","lat":"49.006583","city":"","country":"","language":"de","x":100,"y":320,"wires":[["c391ba.844a3648","a51c91cc.2168d8"]]},{"id":"1c4fa9ad.b98d66","type":"ui_gauge","z":"a4dd2af2.107ea","name":"Temperatur","group":"fff911b1.e5b74","order":1,"width":"3","height":"3","gtype":"gage","title":"OWM","label":"°C","format":"{{value}}","min":"-5","max":"35","colors":["#73fdff","#00f900","#ca3838"],"seg1":"10","seg2":"25","x":810,"y":180,"wires":[]},{"id":"c391ba.844a3648","type":"function","z":"a4dd2af2.107ea","name":"tempc","func":"//    description - a brief verbal description of the current weather for human reading.\nvar description = { payload: msg.payload.descricption };\n//    weather - a short description of the current weather.\nvar weather = { payload: msg.payload.weather };\n//    detail - a more detailed version of weather.\nvar  detail = { payload: msg.payload.detail };\n//    tempk - the current ground temperature at that location in Kelvin.\nvar tempk = { payload: msg.payload.tempk};\n//    tempc - the current ground temperature at that location in Celsius.\nvar tempc = { payload: msg.payload.tempc };\n//    humidity - the current humidity at the location in percent.\nvar humidity = { payload: msg.payload.humidity };\n//    maxtemp - the current maximum temperature at the location in Kelvin.\nvar  maxtemp= { payload: msg.payload.maxtemp };\n//    mintemp - the current minimum temperature at the location in Kelvin.\nvar  mintemp= { payload: msg.payload.mintemp };\n//    windspeed - the current wind speed at the location in metres per second.\nvar  windspeed= { payload: msg.payload.windspeed };\n//    winddirection - the current wind direction at the location in meteorological degrees.\nvar winddirection = { payload: msg.payload.winddirection };\n//    location - the name of the location from which the data was sourced.\nvar location = { payload: msg.payload.location };\n//    sunrise - the time at which the sun rose in Unix UTC format.\nvar sunrise = { payload: msg.payload.sunrise };\n//    sunset - the time at which the sun will set in Unix UTC format.\nvar sunset = { payload: msg.payload.sunset };\n//    clouds - the current cloud coverage of the location in percent.\nvar clouds = { payload: msg.payload.clouds };\n\n\nreturn [\n    description, \n    weather,\n    detail,\n    tempk,\n    tempc,\n    humidity,\n    maxtemp,\n    mintemp,\n    windspeed,\n    winddirection,\n    location,\n    sunrise,\n    sunset,\n    clouds];\n\n\n","outputs":14,"noerr":0,"x":350,"y":320,"wires":[[],[],[],[],["1c4fa9ad.b98d66","5e5a9873.ee932"],["36457d8b.e3018a","58ed0649.34edd8"],[],[],["a8218661.315e48"],["2536f4e5.5a08c4","5f1caa2d.787ab4"],[],[],[],[]],"outputLabels":["    description","weather","detail","tempk","tempc","humidity","maxtemp","mintemp","windspeed","winddirection","location","sunrise","sunset","clouds"]},{"id":"2536f4e5.5a08c4","type":"ui_gauge","z":"a4dd2af2.107ea","name":"","group":"986e265e.dbc6e","order":2,"width":"3","height":"3","gtype":"compass","title":"","label":"°","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":460,"wires":[]},{"id":"62b64aaf.9c5144","type":"ui_gauge","z":"a4dd2af2.107ea","name":"","group":"986e265e.dbc6e","order":1,"width":"3","height":"3","gtype":"gage","title":"","label":"km/h","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":380,"wires":[]},{"id":"a8218661.315e48","type":"change","z":"a4dd2af2.107ea","name":"m/s TO km/h","rules":[{"t":"set","p":"payload","pt":"msg","to":" $round($number(msg.payload)*60*60/1000,2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["62b64aaf.9c5144","4c436501.e7fcc4"]]},{"id":"5e5a9873.ee932","type":"ui_chart","z":"a4dd2af2.107ea","name":"","group":"510c50ec.b44ba8","order":4,"width":"6","height":"10","label":"Temperatur [°C]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff9300","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":220,"wires":[[],[]]},{"id":"36457d8b.e3018a","type":"ui_gauge","z":"a4dd2af2.107ea","name":"","group":"fff911b1.e5b74","order":3,"width":"6","height":"2","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":300,"wires":[]},{"id":"a51c91cc.2168d8","type":"ui_text","z":"a4dd2af2.107ea","group":"449b9af2.fbf114","order":1,"width":"0","height":"0","name":"Zusammenfassung","label":"","format":"Aktuell ist es in {{msg.payload.location}} {{msg.payload.detail}} bei {{msg.payload.tempc}}°C und einer Luftfeuchtigkeit von {{msg.payload.humidity}}%","layout":"row-left","x":390,"y":160,"wires":[]},{"id":"b8dd0e0e.0c2ca8","type":"mqtt in","z":"d80ccc5a.86ac18","name":"Bodenfeuchtesensoren","topic":"nodemcu/soilMoisture/#","qos":"0","broker":"ebda5e35.a2f2f","x":160,"y":280,"wires":[["68cdab65.57d0bc"]]},{"id":"9a72c4e0.fa0aa8","type":"switch","z":"d80ccc5a.86ac18","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"1711063","vt":"num"},{"t":"eq","v":"2336994","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":280,"wires":[["cd7c99c7.b2b8f"],["2ff50a31.944b2e"]]},{"id":"9a4a843b.0ea84","type":"ui_chart","z":"d80ccc5a.86ac18","name":"","group":"9b208f47.9bb418","order":0,"width":"6","height":"9","label":"Bodenfeuchte","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1460,"y":180,"wires":[[],[]]},{"id":"cd7c99c7.b2b8f","type":"function","z":"d80ccc5a.86ac18","name":"banane","func":"var soilMoisture = { topic: 'banane', payload: msg.payload.sensorReadings.soilMoisture };\nvar temperature = { topic: 'banane', payload: (msg.payload.sensorReadings.temperature/10.0) };\n\nreturn [soilMoisture, temperature];","outputs":2,"noerr":0,"x":620,"y":220,"wires":[["a4cb992f.484b58","6c9921fc.cbb018","89beaa1.e931cd8","a860b0ce.732408","72758ce4.f21a1c","2a8a641a.1f9aac"],["4d10a089.cb1598","8d807903.8e07c8"]],"inputLabels":["nodemcu/soilMoisture"],"outputLabels":["soilMoisture","temperature"]},{"id":"68cdab65.57d0bc","type":"json","z":"d80ccc5a.86ac18","name":"","property":"payload","action":"","pretty":false,"x":330,"y":280,"wires":[["9a72c4e0.fa0aa8","550634b7.8f940c"]]},{"id":"a4cb992f.484b58","type":"smooth","z":"d80ccc5a.86ac18","name":"","property":"payload","action":"low","count":"10","round":"","mult":"single","x":940,"y":160,"wires":[["9a4a843b.0ea84"]]},{"id":"8306d1ca.a28c5","type":"smooth","z":"d80ccc5a.86ac18","name":"","property":"payload","action":"low","count":"10","round":"","mult":"single","x":940,"y":200,"wires":[["9a4a843b.0ea84"]]},{"id":"2ff50a31.944b2e","type":"function","z":"d80ccc5a.86ac18","name":"erdbeeren","func":"var soilMoisture = { topic: 'erdbeere', payload: msg.payload.sensorReadings.soilMoisture };\nvar temperature = { topic: 'erdbeere', payload: (msg.payload.sensorReadings.temperature/10.0) };\n\nreturn [soilMoisture, temperature];","outputs":2,"noerr":0,"x":620,"y":340,"wires":[["8306d1ca.a28c5","6c9921fc.cbb018","dc8f2a02.765b48","a860b0ce.732408","72758ce4.f21a1c","2a8a641a.1f9aac"],["4d10a089.cb1598","69ab64f9.490f34"]],"inputLabels":["nodemcu/soilMoisture"],"outputLabels":["soilMoisture","temperature"]},{"id":"a96e7799.6f4b88","type":"ui_chart","z":"d80ccc5a.86ac18","name":"","group":"9b208f47.9bb418","order":0,"width":"6","height":"9","label":"Temperatur","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1430,"y":360,"wires":[[],[]]},{"id":"4d10a089.cb1598","type":"smooth","z":"d80ccc5a.86ac18","name":"T Mittelwert","property":"payload","action":"mean","count":"10","round":"1","mult":"single","x":950,"y":400,"wires":[["748b968b.e23228","7f2fe8b2.be1158"]]},{"id":"748b968b.e23228","type":"ui_gauge","z":"d80ccc5a.86ac18","name":"Temperatur","group":"fff911b1.e5b74","order":2,"width":"3","height":"3","gtype":"gage","title":"Balkon","label":"°C","format":"{{value}}","min":"-15","max":"45","colors":["#73fdff","#00f900","#ca3838"],"seg1":"","seg2":"","x":1430,"y":440,"wires":[]},{"id":"69ab64f9.490f34","type":"rbe","z":"d80ccc5a.86ac18","name":"T Erdbeere","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":950,"y":440,"wires":[["a96e7799.6f4b88"]]},{"id":"8d807903.8e07c8","type":"rbe","z":"d80ccc5a.86ac18","name":"T Banane","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":940,"y":360,"wires":[["a96e7799.6f4b88"]]},{"id":"571f0f2f.7cfe8","type":"link out","z":"d80ccc5a.86ac18","name":"Sensor Temperatur","links":["29cb375c.85b7f8"],"x":1375,"y":400,"wires":[]},{"id":"29cb375c.85b7f8","type":"link in","z":"a4dd2af2.107ea","name":"Sensor Temperatur","links":["571f0f2f.7cfe8"],"x":755,"y":260,"wires":[["c30451e3.d4f8f8","5e5a9873.ee932"]]},{"id":"7f2fe8b2.be1158","type":"change","z":"d80ccc5a.86ac18","name":"topic: sensor","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":380,"wires":[["571f0f2f.7cfe8"]]},{"id":"c30451e3.d4f8f8","type":"debug","z":"a4dd2af2.107ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":260,"wires":[]},{"id":"6c9921fc.cbb018","type":"debug","z":"d80ccc5a.86ac18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":560,"wires":[]},{"id":"58ed0649.34edd8","type":"ui_chart","z":"a4dd2af2.107ea","name":"","group":"510c50ec.b44ba8","order":4,"width":"0","height":"0","label":"Luftfeuchte [%]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff9300","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":340,"wires":[[],[]]},{"id":"5f1caa2d.787ab4","type":"ui_chart","z":"a4dd2af2.107ea","name":"","group":"510c50ec.b44ba8","order":4,"width":"0","height":"0","label":"Windrichtung [°]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"360","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff9300","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":500,"wires":[[],[]]},{"id":"4c436501.e7fcc4","type":"ui_chart","z":"a4dd2af2.107ea","name":"","group":"510c50ec.b44ba8","order":4,"width":"0","height":"0","label":"Windgeschwindigkeit [km/h]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff9300","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":920,"y":420,"wires":[[],[]]},{"id":"652517f.9417f68","type":"trigger","z":"19f3b9fc.9abb7e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":970,"y":640,"wires":[["4afefd2d.0f3bec"]]},{"id":"670d3630.49837","type":"change","z":"19f3b9fc.9abb7e","name":"ok","rules":[{"t":"set","p":"background","pt":"msg","to":"#40bf40","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"wifi_tethering","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":620,"wires":[["e2051e54.f43ef8"]]},{"id":"4afefd2d.0f3bec","type":"switch","z":"19f3b9fc.9abb7e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1160,"y":640,"wires":[["670d3630.49837"],["3ec23545.032882"]]},{"id":"e2051e54.f43ef8","type":"ui_button","z":"19f3b9fc.9abb7e","name":"","group":"b6e6ae7a.f32e2","order":1,"width":"3","height":"1","passthru":false,"label":"{{msg.topic}}","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"wifi_tethering","payload":"true","payloadType":"bool","topic":"","x":1470,"y":640,"wires":[[]]},{"id":"3ec23545.032882","type":"change","z":"19f3b9fc.9abb7e","name":"alert","rules":[{"t":"set","p":"background","pt":"msg","to":"#ff471a","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"portable_wifi_off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":660,"wires":[["e2051e54.f43ef8"]]},{"id":"89beaa1.e931cd8","type":"subflow:19f3b9fc.9abb7e","z":"d80ccc5a.86ac18","name":"alert button","x":1030,"y":600,"wires":[]},{"id":"dc8f2a02.765b48","type":"subflow:19f3b9fc.9abb7e","z":"d80ccc5a.86ac18","name":"alert button","x":1030,"y":640,"wires":[]},{"id":"a860b0ce.732408","type":"debug","z":"d80ccc5a.86ac18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":300,"wires":[]},{"id":"550634b7.8f940c","type":"ui_text","z":"d80ccc5a.86ac18","group":"449b9af2.fbf114","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.topic}} : {{msg.payload}}","layout":"col-center","x":410,"y":420,"wires":[]},{"id":"72758ce4.f21a1c","type":"function","z":"d80ccc5a.86ac18","name":"max Moisture","func":"var maxMoist = flow.get('maxMoist')||-9999;\nmsg.topic = 'max';\n\nif (msg.payload > maxMoist) {\n    flow.set('maxMoist', msg.payload);\n} else {\n    msg.payload = maxMoist;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":120,"wires":[["a860b0ce.732408","9a4a843b.0ea84"]]},{"id":"2a8a641a.1f9aac","type":"function","z":"d80ccc5a.86ac18","name":"min Moisture","func":"var minMoist = flow.get('minMoist')||9999;\nmsg.topic = 'min';\n\nif (msg.payload < minMoist) {\n    flow.set('minMoist', msg.payload);\n} else {\n    msg.payload = minMoist;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["a860b0ce.732408","9a4a843b.0ea84"]]},{"id":"136d61b6.0167ee","type":"openweathermap in","z":"a4dd2af2.107ea","name":"Wetter ForeCast Friedrichstraße","wtype":"forecast","lon":"8.502569","lat":"49.006583","city":"","country":"","language":"de","x":130,"y":880,"wires":[["91c085fc.eca348","9a6c123.6c6e87"]]},{"id":"91c085fc.eca348","type":"debug","z":"a4dd2af2.107ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":700,"wires":[]},{"id":"9a6c123.6c6e87","type":"function","z":"a4dd2af2.107ea","name":"","func":"\nvar msgs = [];\nvar count = 0;\nfor (let i of msg.payload ) {\n    var newMsg = {topic: count, payload: i};\n   msgs.push(newMsg); \n    count++;\n}\n\nreturn msgs\n","outputs":40,"noerr":0,"x":370,"y":880,"wires":[["91c085fc.eca348","b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"],["b20d76f2.68f0a","be078686.b9e3f8"]]},{"id":"d0732236.c8709","type":"ui_chart","z":"a4dd2af2.107ea","name":"","group":"32e56d0.d701114","order":0,"width":0,"height":0,"label":"Temperatur","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":760,"wires":[[],[]]},{"id":"b20d76f2.68f0a","type":"change","z":"a4dd2af2.107ea","name":"Temperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":760,"wires":[["d0732236.c8709"]]},{"id":"be078686.b9e3f8","type":"change","z":"a4dd2af2.107ea","name":"Luftdruck","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":800,"wires":[["179a57cb.c91f28"]]},{"id":"179a57cb.c91f28","type":"ui_chart","z":"a4dd2af2.107ea","name":"","group":"32e56d0.d701114","order":0,"width":0,"height":0,"label":"Luftdruck","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"990","ymax":"1030","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":800,"wires":[[],[]]},{"id":"4030afa1.000348","type":"schedex","z":"74fbab60.dfa7f4","name":"complete","suspended":false,"lat":"","lon":"","ontime":"07:28","ontopic":"complete","onpayload":"complete","onoffset":0,"onrandomoffset":0,"offtime":"sunset","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":640,"y":200,"wires":[["142c0353.53657d","55fa2ecb.8bbc9"]]},{"id":"613a0fa.f5018f","type":"ui_switch","z":"74fbab60.dfa7f4","name":"","label":"","group":"b481fc75.7037f8","order":1,"width":"2","height":"3","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":160,"wires":[["2e0b95b0.976ed2"]]},{"id":"2e0b95b0.976ed2","type":"change","z":"74fbab60.dfa7f4","name":"suspended","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.suspended","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":160,"wires":[["4030afa1.000348","142c0353.53657d"]]},{"id":"a29073c1.f96138","type":"ui_text_input","z":"74fbab60.dfa7f4","name":"Uhrzeit","label":"Uhrzeit","group":"b481fc75.7037f8","order":2,"width":"4","height":"1","passthru":true,"mode":"time","delay":300,"topic":"","x":120,"y":200,"wires":[["d29792b0.06f978"]]},{"id":"d6f9b746.1f7698","type":"change","z":"74fbab60.dfa7f4","name":"an Uhrzeit","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.ontime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["4030afa1.000348","142c0353.53657d"]]},{"id":"45249e87.c61fd8","type":"ui_numeric","z":"74fbab60.dfa7f4","name":"","label":"Menge","group":"b481fc75.7037f8","order":4,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}} ml","min":0,"max":"3000","step":"100","x":130,"y":240,"wires":[["6e826180.1af74"]]},{"id":"a7d5399b.57257","type":"ui_dropdown","z":"74fbab60.dfa7f4","name":"","label":"","place":"wähle ein Ventil","group":"b481fc75.7037f8","order":3,"width":"4","height":"1","passthru":true,"options":[{"label":"Ventil 0","value":"V0","type":"str"},{"label":"Ventil 1","value":"V1","type":"str"},{"label":"Ventil 2","value":"V2","type":"str"},{"label":"Ventil 3","value":"V3","type":"str"}],"payload":"","topic":"","x":110,"y":280,"wires":[["7fcc6397.e8d514"]]},{"id":"7fcc6397.e8d514","type":"change","z":"74fbab60.dfa7f4","name":"set valve","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.valve","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["142c0353.53657d","55fa2ecb.8bbc9"]]},{"id":"6e826180.1af74","type":"change","z":"74fbab60.dfa7f4","name":"set valve","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.volume","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["55fa2ecb.8bbc9","142c0353.53657d"]]},{"id":"142c0353.53657d","type":"debug","z":"74fbab60.dfa7f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"d29792b0.06f978","type":"change","z":"74fbab60.dfa7f4","name":"an Uhrzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":" $fromMillis($number(msg.payload))~>$substring(11,5)\t \t \t ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":200,"wires":[["d6f9b746.1f7698"]]},{"id":"55fa2ecb.8bbc9","type":"join","z":"74fbab60.dfa7f4","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":460,"y":440,"wires":[["142c0353.53657d"]]}]